footer{
    display: flex;
    flex-direction: row;
    color: white;
    height: fit-content;
    justify-content: center;
    background: rgb(46, 45, 45);
}
.email{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    justify-content: center;
}

.email a{
    margin: 20px;
}

.gmailimg img{
    border-radius: 50%;
}

.nomear {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}
@media (max-width:600px){
    .email{ 
        flex-direction: column;
    }
    .imgs{
        margin: 30px;
    }
}