* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none; /* no underline */
}

body {
    margin: 0;
    display: flex;
    flex-direction: column; /* Aligns children in a column */
}
html, body {
    height: 100%; /* Ensures the body takes the full height of the viewport */
    margin: 0;
}